$size: 30rem;
.container {
  margin: 3rem auto;
  max-width: 600px;
}
.header {
  width: 100vw;
  max-width: 1000%;
  margin-left: calc(50% - 50vw);
  max-height: $size;
  margin-top: -3rem;
}

.pageContent {
  min-height: 50vh;
}
